 /* ================================================================ */
/* *{
    -webkit-box-sizing: border-box;
} */
 .logo{
    border: 5px solid rgb(245, 241, 241);
    height: 1.8cm;
    width: 5cm;
    padding-left: 0.5cm;
    background-color:  rgb(245, 241, 241);
    color: red;
}
.dogspic0>img{
    height: 21.1cm;
}
.profilebox{
    border: 1px solid white;
    width: 40.1cm;
    height: 5cm; 
}
.profile{
    border: 3px solid rgb(205, 203, 203);
    width :4cm;
    height: 4cm;
    overflow: hidden;
    border-radius: 50%;
    margin: 0cm 17.9cm;
}
.details{
    line-height: 0cm;
    line-height: 0cm;
    text-align: center;
    color: rgb(89, 91, 93);
}
.instruction_logo{
    border: 1px solid white;
    width: 40cm;
    height: 5cm;
    background-color: white;
}
.instruction_logo>.icon{
    float: left;
    padding: 0cm 3cm;
}
.instruction_logo>.icon>p>a>input{
    color: white;
    background-color: red;
    border-color: red;
    width: 7cm;
    height: 1.1cm;
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0cm 0cm 0.5cm 0cm;
} 
.instruction_logo>.icon>p{
    padding-top: 0.7cm;
}
.instruction_logo>.icon>h1{
    padding: 0cm 1cm;
}
.clear{
    clear: both;
}
.about{
    border: 1px solid  rgb(212, 212, 212);
    background-color: rgb(212, 212, 212);
    height: 14cm;
    width: 38cm;
    padding: 0cm 0.5cm;
    margin: 0cm 0.5cm;
}
.about>h2{
    text-align: center;
}
.pics>h4{
    text-align: center;
    line-height: 0%;
    font-size: 2cm;
    color: rgb(203, 174, 9);
}
.pics{
    border: 1px solid rgba(194, 96, 191, 0.333);
    width: 39cm;
    height: 29cm; 
    background-color: rgba(194, 96, 191, 0.333);
    margin: 0cm 0.5cm 0cm 0.5cm;
}
.pics>.pics1>img{
    width: 474px;
    height: 274px;
    padding-left: 0.4cm;
    padding-bottom: 0.5cm;
}
.pics>.pics0>img{
    padding-left: 0.3cm;
    width: 474px;
    height: 274px;
    padding-bottom: 0.5cm;
}
.pics>.pics1>img,.pics>.pics0>img{
    float: left;
}
.footer{
    border: 1px solid  rgb(212, 212, 212);
    background-color: rgb(212, 212, 212);
    height: 4.5cm;
    text-align: center;
    padding-top: 0.5cm;
    width: 39cm;
    margin: 0cm 0.5cm; 
}
/* =========================responsivity================================================= */
@media screen and (min-width: 200px) and (max-width: 500px) {
    .dogspic0>img{
        width: 14cm;
        height: 10cm;
    }
    .profilebox{
        border: 1px solid white;
        width: 12cm;
        height: 5cm; 
    }
    .profile{
        margin: 0cm 4cm;
    }
    .instruction_logo{
        border: 1px solid white;
        width: 13.4cm;
        height: 11.3cm;
    }
    .instruction_logo>.icon{
        padding: 0.7cm;
        float: left;
    }
    .instruction_logo>.icon>p{
        padding: 0cm 2cm;
    }
    .instruction_logo>.icon>h1
    {
        padding: 0cm 4cm;
    }
    .clear{
        clear: both;
    }
    .about{
        height: 15.8cm;
        width: 10.7cm;
        padding: 0cm 0.8cm;
        margin: 0cm 0.5cm;
    }
    .pics>h4{
        font-size: 1.5cm;
    }
    .pics{
        width: 10.7cm;
        height: 86cm; 
        padding: 0cm 0.5cm 0cm 0.5cm;
        margin: 0cm 0.5cm 0cm 0.5cm;
        line-height: 0%;
    }
    .pics>.pics1>img{
        width: 405px;
        height: 336px;
    }
    .pics>.pics0>img{
        width: 405px;
        padding: 0.5cm 0.5cm 0.5cm 0.5cm;
    }
    .footer{
        height: 5cm;
        text-align: center;
        padding-top: 0.5cm;
        width: 11.7cm;
        margin: 0cm 0.5cm; 
    }
} 
@media screen and (min-width: 200px) and (max-width: 500px) {
    .dogspic0>img{
        width: 13.5cm;
        height: 10cm;
    }
    .profilebox{
        border: 1px solid white;
        width: 12cm;
        height: 5cm; 
    }
    .profile{
        margin: 0cm 4cm;
    }
    .instruction_logo{
        border: 1px solid white;
        width: 13.4cm;
        height: 11.3cm;
    }
    .instruction_logo>.icon{
        padding: 0.7cm;
        float: left;
    }
    .instruction_logo>.icon>p{
        padding: 0cm 2cm;
    }
    .instruction_logo>.icon>h1
    {
        font-size: 0.5cm;
        padding: 0cm 4cm;
    }
    .clear{
        clear: both;
    }
    .about{
        height: 19cm;
        width: 10.4cm;
        padding: 0cm 0.8cm;
        margin: 0cm 0.5cm;
    }
    .pics>h4{
        font-size: 1cm;
    }
    .pics{
        width: 11cm;
        height: 86cm; 
        padding: 0cm 0.5cm 0cm 0.5cm;
        margin: 0cm 0.5cm 0cm 0.5cm;
        line-height: 0%;
    }
    .pics>.pics1>img{
        width: 405px;
        height: 336px;
    }
    .pics>.pics0>img{
        width: 405px;
        padding: 0.5cm 0cm 0.5cm 0.5cm;
    }
    .footer{
        height: 5cm;
        text-align: center;
        padding-top: 0.5cm;
        width: 12cm;
        margin: 0cm 0.5cm; 
    }
}
@media screen and (min-width: 503px) and (max-width: 790px){
    .dogspic0>img{
        width: 20.3cm;
        height: 10cm;
    }
    .profilebox{
        border: 1px solid white;
        width: 20.3cm;
        height: 6cm;
    }
    .profile{
        margin: 0cm 8.2cm;
    }
    .profilebox>.details{
        padding: 0cm 1cm;
    }
   .instruction_logo>.icon{
     padding: 0cm 0.5cm;
   }
    .instruction_logo>.icon>h1
    {
        padding: 0cm 1.5cm;
    }
    /* .profilebox{
        border: 1px solid white;
        width: 12cm;
        height: 5cm; 
    }
    .details{
        width: 19.9cm;
    }
    .profile{
        margin: 0cm 8cm;
    } */


    /* .instruction_logo{
        background-color: brown;
    }
    .instruction_logo>img{
        padding: 0.5cm;
    }
    .instruction_tag>h4{
       float: left;
       padding: 0.9cm;
       line-height: 0cm;
    }
    #Amount{
        float: right;
    }*/
    .clear{
        clear: both;
    } 
    .about{
        height: 15.8cm;
        width: 17.2cm;
        padding: 0cm 0.8cm;
        margin: 0cm 0.5cm;
    }
    .pics>h4{
        font-size: 1.5cm;
    }
    .pics{
        width: 17.8cm;
        height: 89cm; 
        padding: 0cm 0.5cm 0cm 0.5cm;
        margin: 0cm 0.5cm 0cm 0.5cm;
        line-height: 0%;
    }
    .pics>.pics1>img{
        width: 625px;
        height: 336px;
        padding: 0.5cm 0.5cm 0.5cm 0.5cm;
    }
    .pics>.pics0>img{
        width: 625px;
        padding: 0.5cm;
    }
    .footer{
        height: 5cm;
        padding-top: 0.5cm;
        width: 18.8cm;
        margin: 0cm 0.5cm; 
    }
} 