body{
    background-color: blue;
  }
  body>h1{
    text-align: center;
  }
  img{
    width: 500px;
    padding-left: 13.5cm;
  }
  p{
    color: rgb(227, 215, 239);
    padding: 2cm;
  }

  /*for mobile*/
@media screen and (min-width: 200px) and (max-width: 500px){
    body{
        background-color: rgb(238, 45, 45);
    } 
    img{
        height: 200px;
        width: 450px;
        padding: 0.5cm;
    }
    p{
        padding: 50px 25px 0px 30px;
    }
}

  /*for tab*/
  @media screen and (min-width: 501px) and (max-width: 700px){
    body{
        background-color: rgb(75, 22, 73);
    } 
    h1{
        color: blue;
    }
    img{
      height: 500px;
      width: 450px;
      padding: 2cm;
    }
    p{
        padding: 10px 25px 0px 30px;
    }
}


